<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smart_fridge.smart_fridge_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="false" />
    

    <application
        android:icon="@drawable/fridge_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"
                  android:screenOrientation="portrait" />
        <activity android:name=".AddRecipeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".AddFoodActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".IndividualRecipeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".IndividualFoodActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".AdvancedSearchRecipeActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".RecipeSearchResultActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".IMadeThisActivity"
                  android:screenOrientation="portrait"/>
    </application>

</manifest>
